<%= provide(:title, "#{@article.title}") %>

<h1>Article Show</h1>

<div>
  <h2><%= @article.title %></h2>
  <p><%= @article.content %></p>
  <small><%= link_to @article.user.username, user_path(@article.user) %></small>
</div>

<br>
<%= link_to 'All Articles', articles_path %>