<%= provide(:title, "#{@article.title}") %>


<div class="articles py-5 px-3 mb-3">
  <div class="text-center mb-5">
    <h1><%= @article.title %></h1>
  </div>

  <div>
      <p><%= @article.content %></p>
  </div>

  <div class="text-center pt-3">
    <small><%= link_to @article.user.username, user_path(@article.user) %> | <%= @article.created_at.strftime("%B %e, %Y") %></small>  
  </div>
</div>

<br>