<% provide(:title, 'Users') %>

<div class="text-center mb-5">
  <h1>CRUD Users</h1>
</div>

<div class="mb-5">
<%= form_with url: "/users_search" , method: :get, local: true do |f| %>
  <div class="d-flex flex-row justify-content-center">
    <div class="w-50 me-1">
      <%= f.text_field :query, class: "form-control", placeholder: "Search..." %>
    </div>
    <%= f.submit "Search", class: "btn btn-primary" %>
  </div>
<% end %>  
</div>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th>Username</th>
      <th>Number of Articles</th>
      <th>Joined Date</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user_path(user) %></td>
      <td><%= user.articles.count %></td>
      <td><%= user.created_at.strftime("%B %e, %Y") %></td>
    </tr>
    <% end %>
  </tbody>
</table>