<% provide(:title, "#{@user.username}") %>

<div class="text-center mb-5">
  <% if @user == current_user %>
    <h1>Welcome <%= @user.username %>!</h1>
  <% else %>
    <h1>Welcome to <%= @user.username.pluralize %> Page!</h1>
  <% end %>
  <div class="mt-3">
    <small>Member since: <%= @user.created_at.strftime("%B %e, %Y") %></small>
  </div>
</div>

<% if @user == current_user %>
  <div class="new-article py-5">
    <h2 class="text-center mb-5">What's on your mind?</h2>
    <%= render 'shared/article_form' %>
  </div>
<% end %>

<hr class="my-5">

<div class="text-center mb-5">
  <% if @user == current_user %>
    <% if @user.articles.count > 0 %>
      <h3>My Works</h3>
    <% else %>
      <h3>Add an Article!</h3>
    <% end %>
  <% else %>
    <h3><%= @user.username.pluralize %> Works</h3>
  <% end %>
</div>

<section class="mb-5">
  <% @user_articles.each do |article| %>
    <% if article.title && article.content %>
      <div class="articles py-5 px-4 mb-3">
        <h2 class="text-center"><%= article.title %></h2>
        <hr>
        <p><%= article.content %></p>
        <hr>
        <small><%= article.created_at.strftime("%B %e, %Y") %></small>

        <% if @article.user == current_user %>
          <%= link_to "Delete", article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger float-end" %>
        <% end %>

      </div>
    <% end %>
  <% end %>
</section>