<%= provide(:title, 'Users Search') %>

<div class="text-center mb-5">
  <h1>CRUD Users</h1>
</div>

<%= link_to 'Back to Users', users_path, class: 'btn btn-secondary mb-3' %>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th>Username</th>
      <th>Number of Articles</th>
      <th>Joined Date</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.username, user_path(user) %></td>
      <td><%= user.articles.count %></td>
      <td><%= user.created_at.strftime("%B %e, %Y") %></td>
    </tr>
    <% end %>
  </tbody>
</table>